<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-items-center py-1">
    <%= link_to article_title || t(".default_title"), article_path(article.uuid), class: "text-subtitle text-body-secondary small" %>
    <%= link_to "#{article_path(article.uuid)}/#{sentence.line_number}", class: "text-decoration-none text-muted fw-bold small" do %>
      <i class="bi bi-arrow-right-circle"></i> Context
    <% end %>
    <%= link_to token_analysis_analyzer_path(text: sentence.text), class: "text-decoration-none text-muted fw-bold small" do %>
      <i class="bi bi-arrow-right-circle"></i> Analyze
    <% end %>
  </div>
  <div class="card-body">
    <div class="card-text">
      <%= decorated_text %>
    </div>
    <div class="card-text text-end small text-muted">
      <%= link_to article.url, class: "text-muted" do %>
        <%= published_year || t(".default_year") %>, <%= article_site_name || t(".default_site_name") %>
      <% end %>
      <br>
      <%= article.uuid %>
    </div>
  </div>
</div>
