<div id="<%= dom_id article_collection %>">
  <div>
    <strong>Name:</strong>
    <%= article_collection.name %>
  </div>

  <div>
    <strong>Key:</strong>
    <%= article_collection.key %>
  </div>

  <div>
    <strong>Value:</strong>
    <%= article_collection.value %>
  </div>

  <div>
    <strong>Matched articles:</strong>
    <%= article_collection.associated_articles.count %>
  </div>
</div>
