<% if noun.present? %>
  <h1><%= noun %>と動詞</h1>
  <% if results.present? %>
    <p>Result: <%= results.count %>
    <ul>
      <% sorted_results.each do |(particle, verb), freq| %>
        <li><%= "#{noun}#{particle}" %><%= tag.strong "#{verb}" %> (<%= freq %>)</li>
      <% end %>
    </ul>
  <% end %>
<% end %>
